---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
const { Content } = await project.render();
---

<BaseLayout pageTitle={project.data.title}>
  <a href="/projects/">Back</a>
  <h1>{project.data.title}</h1>
  <article class="prose lg:prose-xl dark:prose-invert max-w-none">
    <Content />
  </article>
  <p>Tags: {project.data.tags.join(', ')}</p>
  <a href={project.data.urlDemo} target="_blank">Demo</a>
  <a href={project.data.urlRepo} target="_blank">Repo</a>
  {
    project.data.coverImg && (
      <Image src={project.data.coverImg} alt={project.data.title} />
    )
  }
</BaseLayout>
