---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';
import BackBtn from '@/components/BackBtn.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
const { Content } = await project.render();
---

<BaseLayout pageTitle={project.data.title}>
  <BackBtn />
  <h1 class="my-6 text-5xl font-black lg:text-6xl">{project.data.title}</h1>
  <div class="mb-6 flex gap-2">
    <Link href={project.data.urlDemo} text="Demo" external />
    <Link href={project.data.urlRepo} text="Repo" external />
  </div>
  <article class="prose mb-6 max-w-none lg:prose-xl dark:prose-invert">
    <Content />
  </article>
  <p>Tags: {project.data.tags.join(', ')}</p>
  {
    project.data.coverImg && (
      <Image src={project.data.coverImg} alt={project.data.title} />
    )
  }
</BaseLayout>
