---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
---

<BaseLayout pageTitle={project.data.title}>
  <a href="/projects">Back</a>
  <h1>{project.data.title}</h1>
  <p>{project.body}</p>
  <a href={project.data.urlDemo} target="_blank">Demo</a>
  <a href={project.data.urlRepo} target="_blank">Repo</a>
</BaseLayout>
